.categoriesContainer{
    margin-bottom: 20px;
}


.categoriesHeader {
    margin-top: 50px;
    text-transform: uppercase;
}

.firstCategory,
.SecondCategory{
   max-width: 800px;
   margin: 0px auto;  
   display: grid;
   grid-template-columns: repeat(4, auto);
   align-items: center;
   justify-items: center;
   text-align: center;
   border: 1px solid burlywood;
   padding: 10px;
}

.list{
    margin: 0px 50px;
    width: 60%;
    padding: 10px;
    cursor: pointer;
}

img{
    width: 70px;
    height: auto; 
    display: block;
    margin-bottom: 10PX;
}

.span{
    display: block;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

span:hover{
    color: blue;
}

a:hover{
    color: blue;
    font-weight: 600;
    text-decoration: none;
  }