.DealLeftSide{
    max-width: 1000px;
    max-height: 500px;
    margin: 0px auto;  
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
}

img{
    width: 100%;
    height: auto; 
    display: block;
    margin-bottom: 10PX;
}

.Hotdeals{
    cursor: pointer;
}