
.Product_Ma {
    max-width: 1000px;
    margin: 8% auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 6px;
}

